<h1>Visualization_2</h1>

<div class="row">

            <div class="jumbotron text-center col-md-6">
                <h1>Become Awesome</h1>
                <p>Here you will learn how to become awesome.</p>
                <a class="btn btn-danger pull-right" href="{% url 'awesome_info' %}">More Info</a>
            </div>
    
            <div class="jumbotron text-center col-md-6">
                <h1>Here you will learn how to become super rad.</h1>
                <p>Tubular dude.</p>
                <a class="btn btn-success" href="{% url 'rad_info' %}" role="button">More Info</a>
            </div>

    </div>